<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="DB_Server" value="SAPSERVER6"/>
    <add key="Company_Server" value="SAPSERVER6"/>
    <add key="Company_DB" value="TENSEVEN_Training" />
    <add key="Custom_DB" value="TENSEVEN_Training" />
    <add key="Company_Username" value="manager"/>
    <add key="Company_Password" value="1234"/>
    <add key="DB_Username" value="sa"/>
    <add key="DB_Password" value="B1Admin"/>
    <add key="MSSQLVersion" value="SAPbobsCOM.BoDataServerTypes.dst_MSSQL2017"/>
    
    <add key="InvoiceXMLPath" value="D:\invoicexml.xml"/>
    <add key="SMTP_Server" value="smtp.gmail.com"/>
    <add key="SMTP_NC_User" value="iismediafire@gmail.com"/>
    <add key="SMTP_NC_Password" value="99@lokyang"/>
    <add key="From" value="iismediafire@gmail.com"/>
    <add key="CC_ApprovalEmail" value="william.lee@integratedinfosystem.com"/>
    
    
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="SAPDB" providerName="System.Data.SqlClient" connectionString="Data Source=SAPSERVER6;Initial Catalog=TENSEVEN_Training;User ID=sa;Password=B1Admin;MultipleActiveResultSets=true;" />    
    <add name="PEPPOLEntities"  connectionString="metadata=res://*/CustomDB.CustomDB.csdl|res://*/CustomDB.CustomDB.ssdl|res://*/CustomDB.CustomDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SAPSERVER6;initial catalog=PEPPOL;user id=sa;password=B1Admin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>